@cFooter: #9A026C;
@rojo: #ff2930;
@verde: #019112;

.margenes(@top: 0px, @bottom: 0px)
{
  margin-top: @top;
  margin-bottom: @bottom;
}

.paddin(@top)
{
  padding-top: @top;
}

.jumbotron {
  /*background-color: #3F0152;*/
  background-image: url("../img/banner2.jpg");
  background-size: cover;
  color: white;
  .margenes(50px,0px); }

footer {
  padding: 10px 10px 0px 10px;
  background-color: @cFooter;
  .margenes(10px,0px);
  color: white; }

.card-hotel {
  flex: 1 200px;
  .margenes(10px,0px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  margin-right: 7px; }

#myTabContent {
  .paddin(8px); }

#carouselControls {
 .paddin(15px);}

.breadcrumb {
  .margenes(20px,10px); }
