$cFooter: #9A026C;
$rojo: #ff2930;
$verde: #019112;

@mixin margenes($top,$bottom)
{
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddin($top)
{
	padding-top: $top;
}


.jumbotron
{
	/*background-color: #3F0152;*/
	background-image: url("../img/banner2.jpg");
	background-size: cover;
	color: white;
	@include margenes(50px,0px);
}

footer
{
	padding: 10px 10px 0px 10px;
	background-color: $cFooter;
	@include margenes(10px,0px);
	color: white;
}

.card-hotel
{
	flex: 1 200px;
	@include margenes(10px,0px);
}

.btn-reserva
{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon
{
	margin-right: 7px;
}

#myTabContent
{
	@include paddin(8px);
}

#carouselControls
{
	@include paddin(15px);
}

.breadcrumb
{
	@include margenes(20px,10px);
	
}
