.jumbotron {
  /*background-color: #3F0152;*/
  background-image: url("../img/banner2.jpg");
  background-size: cover;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #9A026C;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  margin-right: 7px;
}
#myTabContent {
  padding-top: 8px;
}
#carouselControls {
  padding-top: 15px;
}
.breadcrumb {
  margin-top: 20px;
  margin-bottom: 10px;
}
